# Rust build output.
target/

# Conventional directory for build output.
build/

# IDE specific
.idea/

# macOS specific
.DS_Store

.python-version
full_index.json

.env
env
.history

# Alfred runtime cache output.
*_cache/
*_cache_keys.json
